h1, h2, h3, h4, h5, h6 {
    color: #2c475d;
}

h2 {
    font-weight: 900;
    font-size: 2.75rem;
    margin: 50px 0 30px 0;
}

p {
    color: #e83c58;
    font-size: 1.25rem;
}

a {
    background-color: #4e4e91;
    color: white;
    padding: 10px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 15px;
}