<h2>Welcome, King Shan...</h2>

<!-- <button type="button" class="btn btn-primary" (click)="onClick()">START</button> -->

<p>Queen Al Falcone has been hiding for years now.</p>

<a [routerLink]='["/findfalcone"]'>START</a>
