
<div *ngIf="!service.finalResponse.status">
  <p>Loading Response..</p>
</div>

<div *ngIf="service.finalResponse.status==='false'">
  <h2 style="color: indianred;">Not Successful</h2>
  <h4>Falcone continues to Evade and Hide</h4>
</div>

<div *ngIf="service.finalResponse.status==='success'">
  <h2 style="color: green;">Success!</h2>
  <h4>Congratulations on finding Falcone. King Shan is mighty pleased.</h4>
  <br>

  <h4>Total Time Taken: {{service.totalTimeTaken}}</h4>
  <h4>Planet Found: {{service.finalResponse.planet_name}}</h4>
</div>

<br>

<!-- <div *ngIf="service.finalResponse.status">
  <a href="https://dev.enumulakartik.in">Find Falcone Again</a>
</div> -->
<a href="https://dev.enumulakartik.in">Find Falcone Again</a>