
<div class="row">
  
  <div class="col-md-6">
    <h5>Time Taken: {{service.totalTimeTaken}}</h5>
  </div>

  <div class="col-md-6">
    <h5>Planets Selected: {{service.planetsSelected}} / {{service.maxAllowedData}}</h5>
  </div>

</div>

<br>


<div class="row justify-content-center align-items-center h-100">
  <div class="col col-sm-6 col-md-6 col-lg-4 col-xl-5">
    <form>
      <div class="form-group">
        <label for="planetSelection">Select the Planet you want to search in:</label>
        <select id="selectPlanet" class="form-control" [(ngModel)]="selectedPlanet" (change)="onPlanetSelection()" name="selectPlanet">
          <option *ngFor="let planet of service.planets" [ngValue]="planet">
            {{planet.name}}
          </option>
        </select>
      </div>
    </form>
  </div>
</div>

<div class="row justify-content-center align-items-center h-100" *ngIf="selectedPlanet">
  <div class="col col-sm-6 col-md-6 col-lg-4 col-xl-5">
    <form>
      <div class="form-group">
        <label for="vehicleSelection">Select the Vehicle:</label>
        <select id="selectVehicle" class="form-control" [(ngModel)]="selectedVehicle" name="selectVehicle">
          <option *ngFor="let vehicle of service.vehiclesForSelectedPlanet" [ngValue]="vehicle">
            {{vehicle.name}} ({{vehicle.total_no}})
          </option>
        </select>
      </div>
    </form>
  </div>
</div>

<div style="text-align: center;" *ngIf="selectedVehicle">
  <button type="submit" class="btn btn-primary" (click)="submitData()">NEXT</button>
</div>

